<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <add key="SubscriptionId" value="1a73e65a-48a0-4f70-8460-ad8131ec7f1d" />
    <add key="ActiveDirectoryTenantId" value="90fa383b-7959-47d2-8c3a-ece9d79acd2b" />
    <add key="SCDMListTablesProc" value="pUtil_GenADFTableList" />
    <add key="SCDMTableSchemaProc" value="pUtil_GenADFStructureDetails" />
    <add key="MasterConnString" value="User ID=postgres;Password=streamcentral;Host=172.20.0.10;Port=5432;Database=streamcentral;" />
    <!-- LIVE ENVIRONMENT DETAILS - START HERE -->
    <!-- Expected Values in sourceType = AzureSQLServer -->
    <!--<add key="sourceType" value="AzureSQLServer" />-->
    <add key="sourceStructureType" value="table" />
    <add key="ApplicationId" value="625afc51-3f0a-4af2-beb8-18be795440d1" />
    <add key="Password" value="GLPILFhgOtcjr5lr9HxJdCFNr8W8YNkQdOduq9KcpPk=" />
    <add key="SCDMConn" value="Data Source=tcp:cgs-sql-host.database.windows.net,1433;Initial Catalog=CGS-SC-Live;Integrated Security=False;User ID=SCSQL@cgs-sql-host.database.windows.net;Password=London2018;Connect Timeout=30;Encrypt=True" />
    <add key="SCDMListTablesProc" value="pUtil_GenADFTableList" />
    <add key="SCDMTableSchemaProc" value="pUtil_GenADFStructureDetails" />
    <add key="resourceGroupName" value="CGS-DW" />
    <add key="dataFactoryName" value="CGS-DatafactoryDW-V1" />
    <add key="linkedServiceNameSource" value="Source-AzureSQL-CGS-SC-Live" />
    <add key="linkedServiceNameDestination" value="Destination-DataLakeStore-cgsdatalakedw" />
    <add key="folderPath" value="Careys-Provisioned-Data-Live" />
    <add key="cgsHubName" value="cgs-datafactorydw-v1_hub" />
    <add key="adlsName" value="cgsdatalakedw" />
    <!-- LIVE ENVIRONMENT DETAILS - ENDS HERE -->

    <!-- PRE-PROD ENVIRONMENT DETAILS - DATA LAKE STORE - STARTS  HERE -->
    <!--Expected Values in sourceType = OnPremiseSQLServer 
    <add key="sourceType" value="OnPremiseSQLServer" />
    <add key="sourceStructureType" value="table" />
    <add key="ApplicationId" value="b93a619a-d985-49e4-a3f4-b9e97f958bb5" />
    <add key="Password" value="cAxb4+mSLXfMZhulLbm5+t9Jx65z1TkR3MH8yv1pEMU=" />
    <add key="SCDMConn" value="Persist Security Info=False;Integrated Security=false;Initial Catalog = datamartCareysLive; Server=172.20.0.6\MSSQLSERVERDEV;User Id=sa;Password=Unl0ckm3" />
    <add key="resourceGroupName" value="CGS-TechFinium" />
    <add key="dataFactoryName" value="CGS-Data-Factory1" />
    <add key="linkedServiceNameSource" value="Source-OnPremSQL-Careys-PreProd" />
    <add key="linkedServiceNameDestination" value="Destination-DataLakeStore-fromSQL" />
    <add key="folderPath" value="Careys-Provisioned-Data-PreProd2" />
    <add key="cgsHubName" value="cgs-data-factory1_hub" />
    <add key="adlsName" value="cgsdatalake1" />
    <add key="factoryVersion" value="v1" />-->
    <!-- PRE-PROD ENVIRONMENT DETAILS - DATA LAKE STORE - ENDS  HERE -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
