<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <add key="SubscriptionId" value="1a73e65a-48a0-4f70-8460-ad8131ec7f1d" />
    <add key="ActiveDirectoryTenantId" value="90fa383b-7959-47d2-8c3a-ece9d79acd2b" />
    <add key="SCDMListTablesProc" value="pUtil_GenADFTableList" />
    <add key="SCDMTableSchemaProc" value="pUtil_GenADFStructureDetails" />
    
    <!-- LIVE ENVIRONMENT DETAILS - START HERE -->
    
    <!--<add key="ApplicationId" value="625afc51-3f0a-4af2-beb8-18be795440d1"/>
    <add key="Password" value="GLPILFhgOtcjr5lr9HxJdCFNr8W8YNkQdOduq9KcpPk=" />
    <add key="SCDMConn" value="Data Source=tcp:cgs-sql-host.database.windows.net,1433;Initial Catalog=CGS-SC-Live;Integrated Security=False;User ID=SCSQL@cgs-sql-host.database.windows.net;Password=London2018;Connect Timeout=30;Encrypt=True" />
    <add key="SCDMListTablesProc" value="pUtil_GenADFTableList" />
    <add key="SCDMTableSchemaProc" value="pUtil_GenADFStructureDetails" />
    <add key="resourceGroupName" value="CGS-DW" />
    <add key="dataFactoryName" value="CGS-DatafactoryDW-V2" />
    <add key="linkedServiceNameSource" value="SC_CGS_AZURESQL_SOURCE_TEST" />
    <add key="linkedServiceNameDestination" value="SC_CGS_ADLS_DESTINATION_TEST" />    
    <add key="folderPath" value="Careys-Provisioned-Data-V2Test"/>
    <add key="cgsHubName" value="cgs-datafactorydw-v2_hub" />
    <add key="adlsName" value="cgsdatalakedw" />     
     --><!-- Expected Values in sourceType = OnPremiseSQLServer / AzureSQLServer--><!--
    <add key="sourceType" value="AzureSQLServer"/>
    <add key ="sourceStructureType" value="table"/>-->
    
    
    <!-- PRE-PROD ENVIRONMENT DETAILS - DATA LAKE STORE - START HERE -->
    <!--Expected Values in sourceType = OnPremiseSQLServer / AzureSQLServer -->
    <add key="sourceType" value="AzureSQLServer" />
    <add key="sourceStructureType" value="table" />    
    <add key="ApplicationId" value="b93a619a-d985-49e4-a3f4-b9e97f958bb5" />
    <add key="Password" value="cAxb4+mSLXfMZhulLbm5+t9Jx65z1TkR3MH8yv1pEMU=" />
    <!--<add key="SCDMConn" value="Persist Security Info=False;Integrated Security=false;Initial Catalog = datamartCareysLive; Server=CGS-AZ-SC\MSSQLSERVERDEV;User Id=sa;Password=Unl0ckm3" />   
    <add key="SCDMConn" value="Data Source=tcp:cgs-sql-host.database.windows.net,1433;Initial Catalog=CGS-SC-Live;Integrated Security=False;User ID=SCSQL@cgs-sql-host.database.windows.net;Password=London2018;Connect Timeout=30;Encrypt=True" />-->
    <add key="SCDMConn" value="Data Source=tcp:cgs-sql-host.database.windows.net,1433;Initial Catalog=CGS-DB1;Integrated Security=False;User ID=SCSQL@cgs-sql-host.database.windows.net;Password=London2018;Connect Timeout=30;Encrypt=True" />
    <add key="resourceGroupName" value="CGS-TechFinium" />
    <add key="dataFactoryName" value="CGS-DataFactory-Test-V2" />
    <add key="linkedServiceNameSource" value="SOURCE_CGS_SC_AZURESQL_TEST" />
    <add key="linkedServiceNameDestination" value="DEST_CGS_SC_ADLS_TEST" />
    <add key="folderPath" value="Careys-Provisioned-Data-PreProd2" />    
    <add key="cgsHubName" value="cgs-data-factory1_hub" />
    <add key="adlsName" value="cgsdatalake1" />
    <add key="factoryVersion" value="v2" />
    <!-- PRE-PROD ENVIRONMENT DETAILS - DATA LAKE STORE - ENDS  HERE -->   
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>    
    </assemblyBinding>
  </runtime>
</configuration>