<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />

    <add key="ApplicationId" value="b93a619a-d985-49e4-a3f4-b9e97f958bb5" />
    <add key="Password" value="cAxb4+mSLXfMZhulLbm5+t9Jx65z1TkR3MH8yv1pEMU=" />
    <add key="SubscriptionId" value="1a73e65a-48a0-4f70-8460-ad8131ec7f1d" />
    <add key="ActiveDirectoryTenantId" value="90fa383b-7959-47d2-8c3a-ece9d79acd2b" />
    <add key="SCDMConn" value="Persist Security Info=False;Integrated Security=true;Initial Catalog = datamart_techfinium; Server=CGS-AZ-SC\MSSQLSERVERDEV" />
    <add key="SCDMListTablesProc" value="pUtil_GenADFTableList" />
    <add key="SCDMTableSchemaProc" value="pUtil_GenADFStructureDetails" />
    <add key="resourceGroupName" value="CGS-TechFinium" />
    <add key="dataFactoryName" value="CGS-Data-Factory1" />
    <add key="linkedServiceNameSource" value="Source-OnPremSQL-e4j" />
    <add key="linkedServiceNameDestination" value="Destination-DataLakeStore-fromSQL" />
    <add key="folderPath" value="Careys-Provisioned-Data-Staging" />
    <add key="cgsHubName" value="cgs-data-factory1_hub" />
    <add key="adlsName" value="cgsdatalake1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>